.swiper-container {
  width: 100%;
  height: 380rpx;

  .item-image,
  .navigator {
    width: 100%;
    height: 100%;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;

  .menu-item {
    width: 250rpx;
    height: 250rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
  }

  .item-image {
    width: 70rpx;
    height: 70rpx;
    margin-bottom: 18rpx;
  }

  .item-text {
    font-size: 26rpx;
  }
}
