.search-form {
  width: 95%;
  margin: 10rpx auto;
  height: 64rpx;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8rpx;
  position: relative;
}

.search-input {
  width: 100%;
  height: 64rpx;
  position: absolute;
  top: 0;
  left: 0;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-icon {
  margin-right: 10rpx;
}

.search-text {
  font-size: 28rpx;
  color: #e0e0e0;
}

.list {
  background-color: #fff;
  padding-bottom: 20rpx;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 0 20rpx;

  .listImage {
    width: 150rpx;
    height: 150rpx;
    margin-right: 20rpx;

    image {
      width: 100%;
      height: 100%;
    }
  }

  .list-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #999;
    font-size: 24rpx;
    padding: 12rpx 0 0;
    position: relative;

    .title {
      font-size: 28rpx;
      font-weight: 700;
      color: #333;
    }

    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-break: break-all;
    }

    .score {
      width: 70rpx;
      height: 40rpx;
      background-color: red;
      position: absolute;
      top: 14rpx;
      right: 0;
      color: #fff;
      line-height: 40rpx;
      text-align: center;
      border-radius: 30rpx;
    }

    text {
      margin-bottom: 4rpx;
    }
  }
}

.loading {
  font-size: 12px;
  background: #bcc0c9;
  padding: 16rpx 0;
  text-align: center;
  color: #fff;
}
